#select-number {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 15px;
    padding: 10px;
    font-size: 32px;
    width:100px;
    height: 400px;
    background-color: #444;
    text-align: center;
    border: 2px solid #444;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    cursor: help;
}
#select-number p {
    margin:0px;
    padding:0px;
}
#select-number #selection {

}
#select-number #scratch {
    font-size: 32px;
    color: #666;
}
#select-number .lowlight {
    color:#555;
    text-shadow: none;
    text-decoration: line-through;
}
#select-number.selectable {
    background-color: #2f4f4f;
    border: 2px solid #3f5f5f;
}